<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">


<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<meta charset="ISO-8859-1">
<title>May Favourite Places</title>


<style>

#map {
	float:right;
	height: 95%;
	width: 70%;
	border: 1px black solid;
	margin: 5px;
	/* padding-right:5px */
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#placeListDiv {

	float:left;
	/* height: 70%;*/
	width: 25%; 
	padding: 5px;
}

</style>


</head>
<body>

	<div id="placeListDiv">
	<h1>My Favourite Places</h1>
		<ul th:each="place:${placeList}">
			<!--  <li><a th:id="${place.id}" class="place_link" th:href="@{|/place/${place.id}}" th:text="${place.name}"></a> </li> -->
			<!-- <li><span th:text="${place.id}"></span>  <a th:id="${place.id}" class="place_link" href="#" th:text="${place.name}"></a> </li> -->
			<pi><span th:text="${place.id}"></span> <span th:text="${place.name}"></span>  </pi>
		</ul>
	</div>

    <div id="map"></div>
    <script>
      var map;
            
      function initMap() {
    	 //var x = document.getElementById('map');  	  
    	 map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 7.0094766, lng: 79.9031735},
          zoom: 9
        }); 
    	  
    	   $.ajax({
           	url:'place/all',
           	method:'GET',
           	dataType:'json',
           	success: function(data,status){

           		console.log(data);
           		console.log(status);
           		
           		$.each( data, function( key, value ) {
           			console.log( key + ": " + value );
           			console.log(  value.id );
           			var marker = new google.maps.Marker({
                        position : {lat :value.lat,lng : value.lang},
                        map : map,
                        label:""+value.id+"",
                        title : value.name
                    });
           			
           			var infowindow = new google.maps.InfoWindow({
           			    content: value.address
           			  });

           			
           			marker.addListener('click', function() {
           			    infowindow.open(map, marker);
           			  });
           			
           		});
           		
           		console.log("finish");
           	},
           	error:function(error,status){
           		console.log(error);
           	}
         }); 
    	  
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfQqECw8pvdIXMY4oMhyrP9MGjQ-bkaso&callback=initMap" async defer></script>
  </body>
</html>